<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"
    />
    <title>{{title}}</title>
  </head>

  <body>
    <main class="container">
      <p>Hi {{firstname}},</p>
      <br />
      <p>Thank you for being a part of our newsletter community.</p>
      <p>You've unsubscribed from our email list. You won't be notified anymore
        on any newsletters from now on.</p>
      <p>Thank you once again for being with us.</p>
      <br />
      <p>Regards,</p>
      <h5>Mike Teddy Omondi - CEO & Founder</h5>
      <h5>Rancko Solutions LLC</h5>
    </main>
  </body>

</html>